{% extends "client/layout.html.twig" %}

{% block title %}Souk | Forum  {% endblock %}

{% block body %}


    {% block flexslider %}
        <div class="flexslider home-slider">
            <ul class="slides">
                <img alt="alt" src="{{ asset('client/images/Coming_Soon.jpg') }}" >
                <div class="flex-caption">
                    <div class="banner">
                        <h1>Le Souk</h1>
                        <div class="line_1"></div>
                        <h4>Forum</h4>
                        <p>Under construction</p>
                    </div>
                </div>

            </ul>
        </div>



    {% endblock %}


{% endblock %}
